<div class="container">
  <h1>{{title}}</h1>
  <button class="timer-button" (click)="toggleTimer()">{{ (timerActive$ | async) ? 'Stop Timer' : 'Start Timer' }}</button>
  <ul class="jokes-list">
    <li *ngFor="let joke of jokes$ | async" class="joke-item">
      <img [src]="joke.icon_url" alt="Chuck Norris" class="joke-icon">
      {{ joke.value }}
      <button class="favorite-button" (click)="toggleFavorite(joke.id)">{{ joke.isFavorite ? '⭐' : '☆' }}</button>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
